[submodule "ipxe"]
	path = ipxe
	url = https://github.com/glevand/tdd--ipxe.git
[submodule "relay"]
	path = relay
	url = https://github.com/glevand/tdd--relay-server.git
[submodule "docker"]
	path = docker
	url = https://github.com/glevand/tdd--docker.git
[submodule "scripts/tdd-lib"]
	path = scripts/tdd-lib
	url = https://github.com/glevand/tdd--script-lib.git
